<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.HerbInfoMapper">

    <select id="selectAll" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info
    </select>

    <select id="selectById" parameterType="int" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info where herb_id = #{id}
    </select>

</mapper>