<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.HerbInfoMapper">

    <select id="selectAll" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info ORDER BY sort ASC
    </select>

    <select id="selectById" parameterType="int" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info where herb_id = #{id}
    </select>

    <select id="searchHerbs" parameterType="string" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info where herb_name like #{keyword}
    </select>

    <update id="updateLikes" parameterType="int">
        UPDATE herb_info
        SET likes = likes + 1
        WHERE herb_id = #{herbId}
    </update>

    <update id="updateCollections" parameterType="int">
        UPDATE herb_info
        SET collections = collections + 1
        WHERE herb_id = #{herbId}
    </update>

    <update id="updateViews" parameterType="int">
        UPDATE herb_info
        SET views = views + 1
        WHERE herb_id = #{herbId}
    </update>

    <update id="decreaseLikes" parameterType="int">
        update herb_info set likes = likes - 1 where herb_id = #{herbId} and likes > 0
    </update>

    <update id="decreaseCollections" parameterType="int">
        update herb_info set collections = collections - 1 where herb_id = #{herbId} and collections > 0
    </update>

    <select id="selectByLikes" parameterType="int" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info ORDER BY likes DESC LIMIT #{limit}
    </select>

    <select id="selectByCollections" parameterType="int" resultType="org.example.springboot.entity.HerbInfo">
        select * from herb_info ORDER BY collections DESC LIMIT #{limit}
    </select>

</mapper>