<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.UserMapper">

    <select id="selectAll" parameterType="int" resultType="org.example.springboot.entity.UserInfo">
        select * from user_info
    </select>

    <select id="selectById" parameterType="int" resultType="org.example.springboot.entity.UserInfo">
        select * from user_info where user_id = #{id}
    </select>

    <select id="selectByUsernameAndPassword" parameterType="map" resultType="org.example.springboot.entity.UserInfo">
        SELECT * FROM user_info
        WHERE username = #{username} AND password = #{password}
    </select>

    <insert id="insertUser" parameterType="org.example.springboot.entity.UserInfo">
        INSERT INTO user_info (username, password, avatar, phone, email, gender, status, createTime, updateTime)
        VALUES (#{username}, #{password}, COALESCE(#{avatar}, 'https://img.88icon.com/download/jpg/20201226/9d64c2d320c079cbd4f38f10e066dc71_512_512.jpg!bg'),
                #{phone}, #{email}, #{gender}, #{status}, NOW(), NOW())
    </insert>

</mapper>