<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.VideoInfoMapper">

    <select id="selectAll" resultType="org.example.springboot.entity.VideoInfo">
        select * from video_info
    </select>

    <select id="selectById" parameterType="int" resultType="org.example.springboot.entity.VideoInfo">
        select * from video_info where video_id = #{id}
    </select>

    <select id="searchVideo" parameterType="string" resultType="org.example.springboot.entity.VideoInfo">
        select * from video_info where title like #{keyword}
    </select>

    <update id="updateLikes" parameterType="int">
        update video_info set likes = likes + 1 where video_id = #{videoId}
    </update>

    <update id="updateCollections" parameterType="int">
        update video_info set collections = collections + 1 where video_id = #{videoId}
    </update>

    <update id="updateViews" parameterType="int">
        UPDATE video_info
        SET views = views + 1
        WHERE video_id = #{videoId}
    </update>


    <update id="decreaseLikes" parameterType="int">
        update video_info set likes = likes - 1 where video_id = #{videoId} and likes > 0
    </update>

    <update id="decreaseCollections" parameterType="int">
        update video_info set collections = collections - 1 where video_id = #{videoId} and collections > 0
    </update>

</mapper>