<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.VideoInfoMapper">

    <select id="selectAll" resultType="org.example.springboot.entity.VideoInfo">
        select * from video_info
    </select>

    <select id="selectById" parameterType="int" resultType="org.example.springboot.entity.VideoInfo">
        select * from video_info where video_id = #{id}
    </select>

    <select id="searchVideo" parameterType="string" resultType="org.example.springboot.entity.VideoInfo">
        select * from video_info where title like #{keyword}
    </select>

</mapper>